body {
  margin: 0;
  background-color: $text-color;
  opacity: 0.9;
}
header{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
section{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
footer{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container{
  background-color: $main-color;
  opacity: 0.9;
  background-size: 100%;
}

